.spacing{
    padding-top: 10px;
}

.spanText{
    font-size: smaller;
    color: #1d55af;
}

.button{
    background-color: #cfe2ff;
    border-radius: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
}

.activeButton{
    background-color: #e4ffcf;
    border-radius: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;   
}

table.table-bordered > thead > tr > th{
    border:1px solid black;
  }

table.table-bordered > tbody > tr > td{
    border:1px solid black;
}